parameters:
	ignoreErrors:
		- '#Method Mammatus\\Queue\\Consumer::__construct\(\) has a parameter \$container with a type declaration of Psr\\Container\\ContainerInterface, but containers should not be injected.#'
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Composer\IO\NullIO
				- Mammatus\Queue\Generated\AbstractList

includes:
	- ../../vendor/wyrihaximus/async-test-utilities/rules.neon
