parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
		- ../dev-app
	excludePaths:
		- ../../src/Hydrator.php
		- ../../tests/Composer/ExpectedAbstractList.php (?)
	ignoreErrors:
		- '#Method Mammatus\\Queue\\Consumer::__construct\(\) has a parameter \$container with a type declaration of Psr\\Container\\ContainerInterface, but containers should not be injected.#'
		-
			message: '#Variable method call on Mammatus\\Queue\\Contracts\\Worker.#'
			path: ../../src/Consumer.php
		-
			identifier: psr3.interpolated
			path: ../../src/Consumer.php
			count: 4
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Composer\IO\NullIO
				- ShipMonk\PHPStan\DeadCode\Provider\ReflectionBasedMemberUsageProvider
				- Mammatus\Queue\AbstractList
				- Mammatus\Queue\WorkQueueMap
				- RuntimeException
includes:
    - ../../extension.neon
