parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
		- ../dev-app
	excludePaths:
		- ../../src/Generated/*
		- ../../tests/Composer/ExpectedAbstractList.php (?)
	ignoreErrors:
		- '#Method Mammatus\\Queue\\Consumer::__construct\(\) has a parameter \$container with a type declaration of Psr\\Container\\ContainerInterface, but containers should not be injected.#'
		-
			identifier: wyrihaximus.reactphp.blocking.function.filePutContents
			path: ../../src/Composer/Plugin.php
		-
			message: '#Variable method call on Mammatus\\Queue\\Contracts\\Worker.#'
			path: ../../src/Consumer.php
		-
			identifier: psr3.interpolated
			path: ../../src/Consumer.php
			count: 4
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Composer\IO\NullIO
				- Mammatus\Queue\Generated\AbstractList
				- Mammatus\Queue\Generated\WorkQueueMap
				- RuntimeException
